body {
    background-color: #F4EDE8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
}

.container {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    color: #6A7F48;
    margin-bottom: 30px;
}

input[type="text"],
input[type="password"],
input[type="file"],

input[type="date"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid black;
    border-radius: 5px;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

button {
    background-color: #6A7F48;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

a {
    color: #6A7F48;
    text-decoration: none;
    display: block;
    margin-top: 10px;
}


.form-groupi {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-groupi label {
    margin-right: 10px;
    width: 200px; 
}

.form-groupi input {
    padding: 8px;
}

.containeri {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}





































